.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.text-color-white {
  color: $white !important;
}

.text-color-black {
  color: $black !important;
}

.section-heading {
  font-size: 30px;
  color: $black;
  text-transform: uppercase;
  @include font-weight(regular);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &:after {
    margin-left: 10px;
    flex-grow: 1;
    height: 4px;
    content: '\a0';
    background: $yellow;
    background: -webkit-gradient(radial, 0% 0%, 0, 10% 10%, 250, from($yellow), to($white));
    position: relative;
    top: 0.5em;
  }

  &:before {
    margin-right: 10px;
    flex-grow: 1;
    height: 4px;
    content: '\a0';
    background: $yellow;
    background: -webkit-gradient(radial, 100% 100%, 0, 100% 100%, 250, from($yellow), to($white));
    position: relative;
    top: 0.5em;
  }
}

.section-sub-heading {
  padding-top: 10px;
  font-size: 24px;
  color: $white;
  text-transform: capitalize;
  text-align: center;
  @include font-weight(medium);
}

.map {
  position: initial;
  height: 400px;
  width: 70%;
  margin: 0 auto;
}