.banner {
    position: relative;
    background-image: url("file:///C:/Users/ABC.DESKTOP-MEA8BV7/Downloads/Grunt-SASS-Boilerplate-master/img/bg.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    font-family: 'Exo', sans-serif;
    .heading-container {
        position: absolute;
        top: 80px;
        span {
            display: block;
            margin-bottom: 10px;
            font-family: 'Open Sans', sans-serif;
        }
        .main-heading {
            font-size: 28px;
            color: $white;
            @include font-weight(semi-bold);
        }
        .sub-heading {
            font-size: 22px;
            color: $white;
        }
    }
    .form-container {
        position: absolute;
        top: 80px;
        right: 255px;
        width: 300px;
        background-color: rgba($color: $white, $alpha: 0.6);
        input, select {
            display: block;
            margin: 20px;
            width: 250px;
            height: 32px;
            padding: 8px;

            &::placeholder {
                font-style: italic;
            }
        }

        select {
            font-style: italic;
            color: $grey;
        }

        .schedule-title {
            text-align: center;
            color: $white;
            background-color: $yellow;
            padding: 10px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            @include font-weight(semi-bold);
        }
        button {
            margin: 0 auto;
            display: block;
            cursor: pointer;
            padding: 10px 30px;
            margin-top: 30px;
            margin-bottom: 30px;
            background-color: $darkGrey;
            color: $white;
            text-transform: uppercase;
            border: none;
            @include font-weight(semi-bold);
            -webkit-font-smoothing: antialiased;
            letter-spacing: 2px;
        }
    }
}