header {
    margin: 0 auto;
    width: 100%;
    font-family: 'Exo', sans-serif;

    .header {
        overflow: hidden;
        background-color: $white;

        .logo {
            font-size: 25px;
            font-weight: bold;

            img {
                height: 60px;
            }
        }

        .nav-container {
            overflow: hidden;
            float: right;

            .phone {
                text-align: right;
                margin: 0 34px 4px 0;

                .whatsapp {
                    font-size: 24px;
                    padding-top: 5px;
                }

                a {
                    font-size: 16px;
                    height: 20px;
                    text-decoration: none;
                    color: $black;
                    @include font-weight(medium);
                }
            }

            .nav {
                a {
                    float: left;
                    color: $black;
                    text-align: center;
                    padding: 12px;
                    text-decoration: none;

                    font-size: 16px;
                    line-height: 25px;
                    border-radius: 4px;
                    text-transform: uppercase;

                    @include font-weight(semi-bold);

                    &:after {
                        content: '|';
                        position: relative;
                        top: -1px;
                        padding-left: 20px;
                        color: $black !important;
                    }

                    &:last-child:after {
                        content: "";
                    }

                    &.active {
                        color: $yellow;
                    }
                }
            }
        }
    }
}